* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-size: 1.6rem; }


/*HEADER*/
.header {
  background-color: white;
  height: 120px; }

.header__name {
  color: #eb9bb3;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 3rem; }

.logo__style {
  padding: 2px;
  height: 120px;
  width: 70px; }

.nav__style {
  color: black;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.8rem;
  padding: 0.5rem; }

.button__name {
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400r;
  margin-bottom: 0rem;
  font-size: 1.5rem; }
/*reseñas*/
.summary__title {
  text-align: justify;
  font-family: "Josefin Sans", sans-serif;
  color: purple;
  font-weight: 400;
  font-size: 1.1rem; }

.summary__text {
  font-family: "Josefin Sans", sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 0.8rem;
  line-height: 1rem; }

.summary__media {
  height: 330px;
  width: 230px;
  margin: 1rem; }

.summary__media--wrapper:hover .summary__media {
  transition: transform 1s;
  transform: scale(1.1); }
  .title {
    color: black;
    text-align: center;
    padding: 2rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: lighter;
    font-size: 1.6rem; }/* Formularios*/
    .form {
      font-family: "Josefin Sans", sans-serif;
      font-weight: lighter;
      font-size: 1rem; }
    
    .form__style--title {
      font-size: 1rem;
      text-align: justify;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 400; }
    
    .form__style {
      background: linear-gradient(to bottom, #e6cff8, #dbb4f8);
      font-family: "Josefin Sans", sans-serif;
      font-weight: lighter;
      font-size: 0.8rem; }
    
    .form__style--buttons {
      width: 160px;
      height: 45px;
      font-family: "Josefin Sans", sans-serif;
      font-size: 0.7rem;
      font-weight: lighter; }
    
    .modal-title {
      font-size: 0.9rem; }
      .footer__style {
        font-family: "Josefin Sans", sans-serif;
        font-weight: lighter;
        font-size: 0.7rem;
        color: black;
        text-decoration: none;
        padding: 0.3rem; }
      
      .contenido-footer-redes {
        height: 28px;
        width: 28px; }
      
      .footer__style:hover {
        color: black; }

.inform {
  font-family: "Josefin Sans", sans-serif;
  color: purple;
  font-weight:lighter;
  font-size: 0.8rem;
  line-height: 1.6rem;

      }
      .informacion{
        font-family: "Josefin Sans", sans-serif;
        color: black;
        font-weight:normal;
        font-size: 0.9rem;
        line-height: 1.2rem;
         border: 1.2px solid black;
         background-image: url(https://i.pinimg.com/564x/c1/c7/5f/c1c75f5c272d80dca074ec9d3ac2c7d6.jpg);
         padding: 1.1rem;
         text-align: center;
      }